@charset "utf-8";

header{
    width: 100%;
    height: 100px;
    text-align: center;
}
    header img{
        width: 100px;
        height: auto;
        margin: 0 auto;
    }

nav{
    width: 100%;
    height: 50px;
    margin: 0 auto;
}
    nav ul{
        width: 900px;
        height: auto;
        margin: 0 auto;
        text-align: center;
    }

    nav li{
        width: 250px;
        height: auto;
        display: inline-block;
        margin: 50 0;
        text-align: center;
        list-style: none;
        
    }

    nav li+ li{
        border-left: 2px solid #CCCCCC;
    }


.intro{
  width: 900px;
  height: 600px;
  margin: 0 auto;
  background-color: #ffffff;
}
    .intro h1{
        font-size: 20px;
        text-align: center;
        padding: 30px 50px;
        border-bottom: 3px solid #ff8903;
    }

    .intro p{
        padding: 40px;
        text-align: center;
        line-height: 30px;
    }

    .intro ul{
        padding: 0px;
        width: 800px;
        height: 60px;
        margin: 0 auto;
        text-align: center;
    }

    .intro li{
        width: 250px;
        height: 60px;
        display: inline-block;
        margin: 30px;
        text-align: center;
        line-height: 60px;
        list-style: none;
        color: #ffffff;
        font-weight: 800;
        background-color: #ff8903;
    }

.top-img{
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-top: 8px solid #ff8903;
}
    .top-img img{
        text-align: center;
        width: 100%;
        height: auto;
    }

.courses{
    
}